<div class="container">
  <div class="mycalc">
    <h1>calculator</h1>
    <input [(ngModel)]="towrite" type="text" />

    <div class="all-btn">
      <div class="all-btn-num">
        <!-- <img src="profile.jpeg" alt="aa"> -->

        <button (click)="writetoinput('1')">1</button>
        <button (click)="writetoinput('2')">2</button>
        <button (click)="writetoinput('3')">3</button>
        <button (click)="writetoinput('4')">4</button>
        <button (click)="writetoinput('5')">5</button>
        <button (click)="writetoinput('6')">6</button>
        <button (click)="writetoinput('7')">7</button>
        <button (click)="writetoinput('8')">8</button>
        <button (click)="writetoinput('9')">9</button>
        <button (click)="writetoinput('0')">0</button>
        <button (click)="writetoinput('.')">.</button>
        <button (click)="back()">back</button>
      </div>
      <div class="all-btn-sign">
        <button (click)="writetoinput('-')">-</button>
        <button (click)="writetoinput('+')">+</button>
        <button (click)="writetoinput('*')">*</button>
        <button (click)="writetoinput('/')">/</button>
      </div>
    </div>
    <div class="btn-clr">
      <!-- <button (click)="showHistory()">history</button> -->
      <button (click)="clearHistory()"> Clear history</button>
      <button (click)="clear()">C</button>
      <button id="equalto" (click)="equal()">=</button>
      
    </div>
  </div>

  <div class="history">
    
    <h3>history</h3>
    <p *ngFor="let historyItem of historyList">{{ historyItem }}</p>
   
  </div>
</div>
